<div class="row mt-4">
  <div class="col-xs-12 col-md-4">
    <img class="w-100" src="{{ articlePic.source_url }}" alt="" style="border-radius: 5px;">
  </div>
  <div class="col-xs-12 col-md-8">
    <h2>{{ article.title.rendered }}</h2>
    <p class="text-muted">{{ getDate(article) }}</p>
    <div [innerHTML]="article.content.rendered"></div>
    <a [routerLink]="['/']" class="btn btn-outline-dark float-right mb-5 hvr-icon-back"><i class="fas fa-caret-left mr-2 hvr-icon"></i> Volver</a>
  </div>
</div>
